trigger:
- main

variables:
- group: mini-netflix-secrets

pool:
  name: Default   # self-hosted agent

stages:
- stage: BuildAndDeploy
  displayName: Build Docker Image & Deploy to Minikube
  jobs:
  - job: BuildDeployJob
    displayName: Build & Deploy Auth Service
    steps:
    - checkout: self

    # Step 1: Start Minikube
    - task: PowerShell@2
      displayName: Start Minikube
      inputs:
        targetType: inline
        script: |
          minikube status || minikube start --driver=docker

    # Step 2: Point Docker to Minikube
    - task: PowerShell@2
      displayName: Configure Docker to use Minikube
      inputs:
        targetType: inline
        script: |
          & minikube -p minikube docker-env --shell powershell | Invoke-Expression
          docker info | findstr Name

    # Step 3: Build Docker image INSIDE Minikube
    - task: PowerShell@2
      displayName: Build Docker Image
      inputs:
        targetType: inline
        script: |
          docker build -t auth-image:latest -f ./auth/Dockerfile ./auth/app

    # Step 4: Deploy to Kubernetes
    - task: PowerShell@2
      displayName: Deploy to Kubernetes
      inputs:
        targetType: inline
        script: |
          kubectl apply -f k8s/auth-deployment-template.yml
          kubectl apply -f k8s/auth-service.yml

    # Step 5: Verify
    - task: PowerShell@2
      displayName: Verify Deployment
      inputs:
        targetType: inline
        script: |
          kubectl get pods
          kubectl get svc
