apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: mini-netflix-auth:latest   # Built in Minikube
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5001
        env:
        - name: JWT_SECRET
          value: "${JWT_SECRET}"         # Will be replaced dynamically by pipeline
