apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: auth-image:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        env:
        - name: JWT_SECRET
          value: "${JWT_SECRET}"  # Placeholder to be replaced by pipeline
